repos:
  - repo: local

    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [--line-length=79, --target-version=py312]

      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        types: [python]
        args: [--in-place, --remove-all-unused-imports, --remove-duplicate-keys]

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: [
          "--ignore=E203,E266,E501,E704,W503,B905,B907",
          "--max-line-length=79",
          "--max-complexity=18",
          "--select=B,C,E,F,W,T4,B9",
        ]